@page "/counter/baby"
@using BlazorApp1.Components.Layout
@rendermode InteractiveServer
@inject NavigationManager NavManager
@inject IJSRuntime js

<PageTitle>Counter</PageTitle>

<h3>Counter @MyAppConfig.ApiBaseUrl</h3>
<p role="status">Current count: @currentCount</p>
<button @ref="BtnCounter" class="btn btn-primary" @onclick="IncrementCount">Click me baby</button>

<NavLink href=@HomePageURI Match="NavLinkMatch.All">Home Page</NavLink>


@code {
    private int currentCount = 0;
    public string? HomePageURI { get; set; }
    private ElementReference BtnCounter;

    private async void IncrementCount()
    {
        currentCount += 3;        
        await js.InvokeAsync<object>("console.log", "prueba", BtnCounter);
        await js.InvokeAsync<object>("console.log", "prueba", BtnCounter.Context);
    }
    protected override void OnInitialized()
    {
        Console.WriteLine($"******* {NavManager.Uri}");
        HomePageURI = NavManager.BaseUri;
    }
}
