@page "/example"
@rendermode InteractiveServer

<h3>Todo*</h3>

<input @onchange="InputChanged" />
<p>@message</p>

@code {
    string? message = "";

    void InputChanged(ChangeEventArgs e)
    {
        string? valor = e.Value?.ToString();
        Console.WriteLine(valor);
        message = valor;
    }
}

@* @page "/todo"
@rendermode InteractiveServer

<input @bind="text" />
<button @onclick="() => text = string.Empty">Clear</button>
<p>@text</p>

@code {
    string text = "";
} *@